{% if user.is_staff %}
<a href="{% url 'admin_staff:categories' %}" class="{% if 'categories' in request.path or 'products' in request.path%}
        active
    {% endif %} nav_link">
    <i class='bx bx-cart nav_icon'></i>
    <span class="nav_name">Товары</span> </a>

<a href="{% url 'admin_staff:users' %}" class="{% if 'users' in request.path %}
        active
    {% endif %} nav_link">
    <i class='bx bx-user nav_icon'></i>
    <span class="nav_name">Пользователи</span> </a>
{% endif %}
<a href="{% url 'order:orders_list' %}" class="{% if 'order' in request.path %}
        active
    {% endif %} nav_link">
    <i class='bx bx-bookmark nav_icon'></i>
    <span class="nav_name">Заказы</span> </a>
