{% extends 'adminapp/base.html' %}
{% load static %}
{% load adminapp_tags %}
{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ alert }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="header_img-admin mx-auto">
            <p>
            <img src="{{ object.image|media_folder_products }}"
                 alt="{{ object.name }}">
            </p>
        </div>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-group text-center" role="group" aria-label="Basic mixed styles example">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'admin_staff:categories' %}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}