{% extends 'adminapp/base.html' %}
{% load adminapp_tags %}
{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ alert }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Дата создания</th>
            <th>Последнее обновление</th>
            <th>Активный</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Дата создания</th>
            <th>Последнее обновление</th>
            <th>Активный</th>
            <th>Удалить</th>
        </tr>
        </tfoot>
        <tbody>
        {% for object in objects %}
        <tr>
            <th>{{ object.pk }}</th>
            <td class="text-center">
                <a href="{% url 'admin_staff:product_read' object.pk %}"
                   {% if not object.is_active %} class="is-deleted" {% endif %}>
                    <div>
                        <div class="header_img header_img-admin">
                            <img src="{{ object.image|media_folder_products }}"
                                 alt="{{ object.name }}">
                        </div>
                        {{ object.name }}
                    </div>
                </a>
            </td>
            <td {% if not object.is_active %}
                class="is-deleted"
                {% endif %}>
                <p>{{ object.short_desc }}</p>
                <p>{{ object.description }}</p>
            </td>
            <td>{{ object.price|floatformat:0 }}</td>
            <td><small>{{ object.created }}</small></td>
            <td><small>{{ object.update }}</small></td>
            <td class="">
                {% if object.is_active %}
                <i class="bx bxs-check-circle bx-sm text-success"></i>
                {% else %}
                <i class="bx bxs-x-circle bx-sm text-muted"></i>
                {% endif %}
            </td>
            <td class="">
                <a href="{% url 'admin_staff:product_delete' object.pk %}"><i class='bx bxs-x-square bx-sm text-danger'></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{% url 'admin_staff:product_create' category.pk %}" class="btn btn-outline-primary btn-sm">Создать товар</a>
{% endblock %}