{% extends 'adminapp/base.html' %}
{% load adminapp_tags %}
{% block content %}

{% if alert %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ alert }}  <!-- Пользователь успешно обновлен -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="header_img mx-auto d-block">
            {% if edit_user.avatar %}
            <img src="{{ edit_user.avatar|media_folder_users }}" alt="{{ edit_user.avatar }}">
            {% else %}
            <i class='bx bx-user bx-md'></i>
            {% endif %}
        </div>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        <a class="btn btn-link" href="{% url 'admin_staff:users' %}">
            К списку пользователей
        </a>
    </div>
</div>
{% endblock %}