{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-4 mx-auto">
            {% if message %}
            {{ message }}
            {% endif %}
            <form class="form-horizontal" action="{% url 'auth:register' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ register_form.as_p }}
                {% if register_form %}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-1">
                    <input class="btn btn-primary" type="submit" value="Зарегистрироваться">
                </div>
                {% endif %}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-1">
                    <a href="{% url 'index' %}" class="btn btn-link">На главную</a>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

